# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# OS & Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node/Static build temporary files
node_modules/
.amplify/
